<div class="row sign-up-form">
  <div class="col s12 m12">
    <div class="card orange lighten-1">
      <div class="card-content white-text">
        <span class="card-title"> <%= @student.name %> </span>
        <p> <%= @student.email %> </p>
      </div>
    </div>

    <%= link_to "Edit your profile <i class='material-icons right'>create</i>".html_safe, edit_student_path(@student), class: "btn waves-effect waves-light" %>
  </div>
</div>
