<div class="row">
  <div class="col s12">
    <h1 class="center-align"> About </h1>
  </div>
</div>

<p> Here you can enroll into different courses about Brazilian Music. This is currently without any costs, however you would need to create an account so that you can save the courses you are working on. </p>
