<h1> Course listing </h1>

<ul>
  <li> Code MC111 </li>
  <li> Name: Music sounds 1 </li>
  <li> description: An introduction to brazilian rhythms </li>
</ul>

<ul>
  <li> Code MC112 </li>
  <li> Name: Music sounds 2 </li>
  <li> Description: Brazilian rhythm: Samba </li>
</ul>
